@media only screen and (max-width: 768px) {
  .navbar-brand {
    background-color: #4CCBEC !important;
    border-radius: 10% !important;
    padding: 10px;
  }
}

body {
  margin: 0;
  font-family: "Calibri", sans-serif !important;
  background-image: url("assets/background.png");
  background-size: 100% auto;
}

u {
  text-decoration-color: #4CCBEC;
  text-underline-offset: 15px;
}

p, .col, .row {
  margin: 0 !important;
  padding: 0 !important;
  font-size: large;
}

.line-decoration:before, .line-decoration:after {
  content: "";
  flex: 1 1;
  border-bottom: 5px solid #4CCBEC;
  margin: auto;
}